body {
	background-color: #fff;
}

h1 {
	color: rgba(8,141,165,1);
	margin-left: 100px;
	text-shadow: 1px .5px 4px rgba(0,0,0, 0.6);
}

.container {
	width: 450px;
	height: 450px;
	background-color: #faebd7;
	border: 2px solid black;
	border-radius: 5%;
}

/* --------------------------------------------
	SELECT ALL SQUARES IN THE ARRAY
-----------------------------------------------*/
.container .squares:nth-child(-n+4) {
	background-image: url("../images/icons/smileyface2.png");
	color: #fff;
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 25%;
	cursor: pointer;
}

/* --------------------------------------------
	SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
-----------------------------------------------*/
.squares:nth-child(-n+4) p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 0;
	text-shadow: 2px 1px 4px rgba(0,0,0, 0.8);
}

/* --------------------------------------------
	INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
-----------------------------------------------*/
.squares:nth-child(1) {
	background: #4240ff;
}

.squares:nth-child(2) {
	background: #ab3fdd;
}

.squares:nth-child(3) {
	background: #ae163e;
}

.squares:nth-child(4) {
	background: #00b200;
}

/* ----------------------------------------------
	HOVER EFFECTS
-------------------------------------------------*/
.container .squares:nth-child(-n+4):hover {
	background-image: url("../images/icons/smileyface1.png");
}

.squares:nth-child(1):hover {
	background: #13b4ff;
}

.squares:nth-child(2):hover {
	background: #d861af;
}

.squares:nth-child(3):hover  {
	background: #81205f;
}

.squares:nth-child(4):hover  {
	background: #77b800;
}

